.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from {
  opacity: 0;
  filter: blur(1rem);
}
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* blog transition animations */
.blog-enter-active,
.blog-leave-active {
  transition: all 0.3s;
}
.blog-enter-from {
  transform: translateX(-20%);
  opacity: 0;
  filter: blur(1rem);
}
.blog-leave-to {
  transform: translateX(20%);
  opacity: 0;
  filter: blur(1rem);
}
